.container {
    position: relative;
    width: 45%;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px;
    /* float: left; */
}

.container1 {
    position: relative;
    width: 45%;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px;
    float: left;
}

li {
    position: relative;
    border: 2px solid;
    border-radius: 8px;
    border-color: rgb(0, 0, 0);
    list-style-type: none;
    display: block;
    width: 15%;
    /* padding-left: 30px; */
    margin: 0.7em 0.3em;
    background-color: yellow;
}

.placesTypeRadio {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 0px 1rem;
    cursor: pointer;
}

form {
    font-size: 12px;
}

.warning {
    background-color: coral
}

.placesRadio {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 0px 1rem;
    cursor: pointer;
}

p {
    position: relative;
    width: 100%;
    max-width: 90px;
    margin: 0 auto;
    padding: 0 6px;
    display: inline-block;
    margin: 5px;
}

@media only screen and (max-width: 650px) {
    .placesTypeRadio {
        padding: 20px;
        display: grid;
    }
    .placesRadio {
        padding: 20px;
        display: grid;
    }
    li {
        position: relative;
        border: 2px solid;
        border-radius: 8px;
        border-color: rgb(0, 0, 0);
        list-style-type: none;
        display: block;
        width: 30%;
        padding-left: 30px;
        margin: 0.7em 0.3em;
        background-color: yellow;
    }
}