.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

li{
    border: 2px solid;
    border-radius: 8px;
    border-color: rgb(0, 0, 0);
    list-style-type: none;
    display: block;
    width: 10%;
    padding-left: 30px;
    margin: 0.5em 0;
    background-color: yellow;
}
.placesTypeRadio {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
